.footer {
    width: 100%;
    background: #1c1d25;
    padding: 8% 0;
    margin: 0;
  }
  
  .footer,
  .footer a {
    color: #f3f3f3;
  }
    .footerlinks {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  .footer-links li {
    display: inline-block;
    margin-right: 60px;
  }
  
  .footerlinks li:last-child {
    margin-right: 0;
  }
  
  .footerlinks a {
    display: block;
    padding: 15px 0;
    font-family: League Spartan, Helvetica, Arial, sans-serif;
    position: relative;
    color: #f3f3f3;
    transition: color 0.3s ease;
  }
  
  .footerlinks a:before {
    background-color: #235aa6;
    transition: all 0.25s cubic-bezier(0.694, 0.048, 0.335, 1) 0.15s;
  }
  
  .footerlinks a:after,
  .footerlinks a:before {
    content: "";
    position: absolute;
    bottom: 16px;
    right: 0;
    left: auto;
    width: 0;
    height: 3px;
    z-index: 2;
  }
  
  .footer-links a:after {
    background-color: #f25757;
    transition: all 0.25s cubic-bezier(0.694, 0.048, 0.335, 1);
  }
  
  .footerlinks a:hover {
    color: #f3f3f3;
    text-decoration: none;
  }
  
  @media only screen and (min-width: 64em) {
    .footerlinks a:hover:after,
    .footerlinks a:hover:before {
      width: 100%;
      left: 0;
    }
  }
  
  .footercopy {
    width: 100%;
    padding-top: 15px;
    text-align: center;
    font-size: 0.75em;
  }
  
  .footer-copy a:hover {
    text-decoration: none;
  }
  
  @media only screen and (max-width: 31.875em) {
    .footer-links li {
      float: left;
      clear: none;
      width: 50%;
      margin-left: 0;
      margin-right: 0;
    }
  }