@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@font-face {
  font-family: "Brand";
  src: url("../public/Brand.woff");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgb(50, 50, 50);
}

body {
  font-family: "Roboto", sans-serif;
}

nav {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #fcfcfc;
  top: 0;
  position: sticky;
}

nav * {
  height: fit-content;
  width: max-content;
  display: inline-block;
}

nav * * {
  display: inline-block;
  padding: 40px;
}

nav * *:hover {
  background-color: #FAFAFF;
}

nav left {
  margin-left: auto;
  margin-right: 5%;
}

banner {
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
  width: 100vw;
  height: fit-content;
  min-height: 100px;
  background-color: #EFEFEF;
  padding: 1vw;
  position: relative;
  margin: 0;
  border-bottom: #AAAAAA solid 2.5px;
}

banner h1 {
  display: flex;
  align-items: center;
  margin-left: 10%;
  height: min-content;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  height: 100%;
}

banner img {
  height: 90%;
  max-height: 150px;
  width: auto;
  margin-right: 10%;
  margin-left: auto;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1rem 0rem;
  font-weight: bold;
}

h6 {
  font-size: 1rem;
}

p,
li {
  line-height: 1.5rem;
  font-family: "Roboto Slab", serif;
  padding: 1rem 0rem;
  font-size: 1.1rem;
}

ol,
ul {
  padding-left: 1.5rem;
}
a {
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  body {
    margin: 0% 0%;
  }
  nav {
    padding: 3rem 0rem;
  }
  banner {
    grid-template-columns: auto;
    text-align: center;
  }
  banner h1 {
    font-weight: lighter;
  }
  banner img {
    width: 90vw;
    height: auto;
    margin: 0 4vw;
    order: -1;
  }
}
